.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  /* font-family: 'Montserrat', sans-serif; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
.field {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 76px;
  height: 72px;
}

.inp-and-butt {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-left: 12px;
}

.div-inp {
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background: #f5f5f5;
  margin-bottom: 32px;
  border-color: #808080;
}

.div-butt {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #989898;
  border-radius: 8px;
  padding: 8px 16px;
  background: #cfcfcf;
  border: none;
}

.inp-and-timer {
  margin-left: auto;
}

.first-timer {
  width: 1440px;
  height: 496px;
  background: #fff;
  padding-top: 36px;
  padding-left: 156px;
}
